<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>ThinkphpHelper V0.3.2 - for Thinkphp3.2.2</title>
    <meta name="keywords" content="ThinkphpHelper,Thinkphp代码自动生成" />
    <meta name="description" content="ThinkphpHelper,Thinkphp代码自动生成工具" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="sjj">
    <script src="__JS__/jquery.js"></script> <!-- jQuery -->

    <!-- Bootstrap start -->
    <script src="__BOOTSTRAP__/js/bootstrap.min.js"></script>
    <link href="__BOOTSTRAP__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__BOOTSTRAP__/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Bootstrap end -->
</head>

<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <!--<img alt="Brand" src="...">-->
                Thinkphp代码生成器
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">模块生成</a></li>
            <li><a href="#">Link</a></li>
        </ul>

    </div>
</nav>
<!-- Header starts -->
<header>
    <div class="container">
        <div class="row">

        </div>
    </div>
</header>

<div class="content">
    <div class="sidebar">
        <!--<div class="sidebar-dropdown"><a href="#">导航</a></div>-->
        <ul id="nav">
            <!--<li><a href="__MODULE__/CreateM"><i class="icon-bar-chart"></i>生成模块布局</a></li>-->
            <!--<li><a href="__MODULE__/CRUD/crud"><i class="icon-bar-chart"></i>生成CRUD代码</a></li>-->
            <!--<li><a href="__MODULE__/MCode"><i class="icon-table"></i>模型代码生成</a></li>-->
            <!--<li><a href="__MODULE__/Index/ui"><i class="icon-magic"></i>UI控件</a></li>-->
        </ul>
    </div>

    {__CONTENT__}
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</footer>
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
</body>
</html>