
<form id="hh">
    <?php foreach($validation as $val): ?>
        xx<input  validateJson='<?php echo json_encode($val);?>' />
    <?php endforeach;?>
</form>

<script>
    $(function(){
        $("#hh").FormValidate(true);
    });
    !function($){
        $.fn.FormValidate = function(isCheck){
            var _formObj = $(this); // 表单对象

            var Form = {
                'EXISTS_VALIDATE': 0,
                'MUST_VALIDATE': 1,
                'VALUE_VALIDATE': 2,
                'data' : {},
                'check' : true, // 表单是否验证通过
                'init': function(option){
                    if (option.check === false) {
                        Form.check = false;
                    }
                    return $(this);
                },
                'input':function() {
                    var input =  _formObj.find(':input[type!=button]');
                    Form.validate(input);
                },
                'select':function() {
                    var input =  _formObj.find(':input[type!=select]');
                    Form.validate(input);
                },
                'checkbox':function() {
                    var input =  _formObj.find(':input[type!=checkbox]');
                    Form.validate(input);
                },
                'validate': function(obj){
                    var name ='';
                    $.each(obj, function(){
                        var objValue = $(this).val();
                        var validateArr = $.parseJSON($(this).attr('validateJson'));
//                        alert(Array.isArray(obj));
                        if (Array.isArray(validateArr)) {
                            var isMultiArr = false;
                            var len =validateArr.length;
                            // 判断是否为多维数组
                            for (i = 0; i < len; i ++) {
                                if (obj[i] instanceof Array) {
                                    isMultiArr = true;
                                }
                                break;
                            }

                            if (isMultiArr) {
                                var multirArr = validateArr;
                                multirArr.forEach(function(arr){
                                    Form.processer(arr, objValue);
                                });
                            } else {
                                Form.processer(validateArr, objValue);
                            }
                        }
                    });
                },
                'processer' : function(arr, value) {
                    var style = '';
//                  判断是否存在3索引 tp默认为 EXISTS_VALIDATE 即 存在字段就验证
                    if (arr.indexOf(3) == -1 || arr[3] === Form.EXISTS_VALIDATE) {
                        // 该情况前端js不需要做处理
                        return '';
                    }
                    // 不为空验证的时候 值为空 则不做验证
                    if (arr[3] === Form.VALUE_VALIDATE && $.trim(value) == '') {
                        return '';
                    }

                    if (arr.indexOf(4) !== -1) {
                        if (arr[2] == 'require') {
                            style = arr[2];
                        } else {
                            style = arr[4];
                        }
                    }

                    switch (style) {
                        case 'function':
                        case 'callback':
                            break;
                        case 'confirm':
                            var name1 = _formObj.find(":input[name='"+ arr[0] + "']").val();
                            var name2 = _formObj.find(":input[name='"+ arr[1] + "']").val();
                            if ($.trim(name1) != $.trim(name2)) {
                                console.log(arr[2]);
                                Form.check = false;
                            }
                            break;
                        case 'require':
                            if ($.trim(value) == '') {
                                console.log(arr[2]);
                                Form.check = false;
                            }
                            break;
                        case 'equal':
                            break;
                        case 'notequal':
                            break;
                        case 'in':
                            if (arr[2] instanceof Array) {
                                var flag = false;
                                if(arr[2].e(function(arrOfValue){ return arrOfValue == value; }) === true){
                                    flag = true;
                                }
                                if (flag == false) {
                                    console.log(arr[2]);
                                    Form.check = false;
                                }
                            }
                            break;
                        case 'notin':
                            break;
                        case 'length':
                            break;
                        case 'between':
                            break;
                        case 'notbetween':
                            break;
                        case 'expire':
                            break;
                        case 'ip_allow':
                            break;
                        case 'ip_deny':
                            break;
                        case 'unique':
                            break;
                        case 'regex':
                        default :
                    }
                },
                'work': function(){
                    Form.input();
                    Form.select();
                    Form.checkbox();
                    Form.submit();
                },
                'submit':function(){

                }
            }
            var option = {};
            option.check = isCheck;
            Form.init(option);
            Form.work();
        }
    }(window.jQuery);
</script>