<script type="text/javascript">
    allPageUrl = '__CONTROLLER__/previewAllPage/';
    allPageCodeUrl = '__CONTROLLER__/allPageCode/';
    allCodeUrl = '__CONTROLLER__/allCode/';
    addPageUrl = '__CONTROLLER__/addPage/';
    addCodeUrl = '__CONTROLLER__/addCode/';
    editPageUrl = '__CONTROLLER__/editPage/';
    editCodeUrl = '__CONTROLLER__/editCode/';
    deleteCodeUrl = '__CONTROLLER__/deleteCode/';
</script>
<div class="container">
    <!-- modle -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Model</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-10">
                    <form class="form-horizontal">
                        <!-- 模块 -->
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">选择模块</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="moduleName">
                                    <?php foreach($moduleNameList as $moduleName): ?>
                                        <option value="<?php echo $moduleName;?>"><?php echo $moduleName;?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>
                        <!-- 数据库 -->
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">选择数据库</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="dbName">
                                    <option value=""></option>
                                    <?php foreach($dbNameList as $dbName): ?>
                                    <option value="<?php echo $dbName;?>"><?php echo $dbName;?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>
                        <!-- 数据表 -->
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">数据表:</label>
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox" id="tabel_list">

                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="createFilesBtn" class="btn btn-primary">直接生成文件</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end modle -->

    <!-- controller -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Controller</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-10">
                    <form class="form-horizontal">
                        <!-- 模块 -->
                        <div class="form-group">
                            <label for="cModuleName" class="col-sm-2 control-label">选择模块</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="cModuleName">
                                    <?php foreach($moduleNameList as $moduleName): ?>
                                    <option value="<?php echo $moduleName;?>"><?php echo $moduleName;?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>

                        <!-- 控制器 -->
                        <div class="form-group">
                            <label for="controller" class="col-sm-2 control-label">控制器</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="controller" placeholder="控制器名以，号隔开">
                            </div>
                        </div>

                    </form>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="cCreateFilesBtn" class="btn btn-primary">直接生成文件</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end controller -->

    <!-- start service-->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Controller</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-10">
                    <form class="form-horizontal">
                        <!-- 模块 -->
                        <div class="form-group">
                            <label for="cModuleName" class="col-sm-2 control-label">选择模块</label>
                            <div class="col-lg-6">
                                <select class="form-control" id="cModuleName">
                                    <?php foreach($moduleNameList as $moduleName): ?>
                                    <option value="<?php echo $moduleName;?>"><?php echo $moduleName;?></option>
                                    <?php endforeach ?>
                                </select>
                            </div>
                        </div>

                        <!-- 控制器 -->
                        <div class="form-group">
                            <label for="controller" class="col-sm-2 control-label">控制器</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="controller" placeholder="控制器名以，号隔开">
                            </div>
                        </div>

                    </form>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="cCreateFilesBtn" class="btn btn-primary">直接生成文件</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end service-->

<!-- end container -->
</div>

<script>
    /*modle*/
    $(function(){
        $('#createFilesBtn').click(function() {
            moduleName = $('#moduleName option:selected').val();
            checkedBox = $('#tabel_list input:checked');

            selectTableName = [];
            checkedBox.each(function(){
                selectTableName.push($(this).val());
            });

            $.post("{:U('Index/createModelFiles')}", {"moduleName":moduleName,"tableName":selectTableName}, function(data){
            });
        });

        /*获取表列表*/
        $("#dbName").change(function(){
            var data = {};
            data.dbName = $(this).val();
            $.post("{:U('Index/getTables')}", data, function(result){
                var tables = '';

                $.each(result, function(index, val){
                    tables += ' <label><input type="checkbox" name="table" value="'+ val +'">&nbsp;'+ val +'</input></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                });

                $("#tabel_list").html(tables);
            }, 'json');
        });
    });

    /*controller*/
    $(function(){
        $('#cCreateFilesBtn').click(function() {
            moduleName = $('#cModuleName option:selected').val();
            checkedBox = $('#tabel_list input:checked');

            selectTableName = [];
            checkedBox.each(function(){
                selectTableName.push($(this).val());
            });

            $.post("{:U('Index/createModelFiles')}", {"moduleName":moduleName,"tableName":selectTableName}, function(data){
            });
        });
    });

</script>
<!-- Mainbar ends -->
<div class="clearfix"></div>